asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1652752042988/work
certifi==2022.9.24
distlib==0.3.6
Django @ file:///Users/runner/miniforge3/conda-bld/django_1664983673003/work
filelock==3.8.0
platformdirs==2.5.2
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1663990453245/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
virtualenv==20.16.4
