<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"></link>
</head>
<body>
  {% include "components/header.html" %}

<div class="py-20 h-screen px-2">
<div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
  <div class="md:flex">
    <div class="w-full p-3">
      <form action="/myapp/SearchList">
        <div class="relative">
          <i class="absolute fa fa-search text-white top-5 left-4"></i>
          <input type="text" class="bg-gray-400 h-14 text-white w-full px-12 rounded-lg focus:outline-none hover:cursor-pointer"name="query" id="query">
        </div>
      </form>
    </div>
  </div>

  {% if user.is_authenticated %}
    <div class="bg-gray-400 shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
      <form action="/myapp/AddList">
        {% csrf_token %}
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-full px-3">
          <label class="text-white" for="title">Title</label>
          <input id="title" name="title" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" type="text" >
        </div>
      </div>
        
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-full px-3">
          <label class="text-white" for="description">Description</label>
          <input id="description" name="description" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" type="text" >
        </div>
      </div>
        
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-full px-3">
          <label class="text-white" for="deadline">Deadline</label>
          <input  id="deadline" name="deadline" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3"  type="datetime-local" >
        </div>
      </div>
      
      <div class="-mx-3 md:flex mb-6">
        <div class="md:w-full px-3">
          <label class="text-white" for="done">Status</label>
          <input type="checkbox" class="form-control" id="done" name="done" value={{done}}>
        </div>
      </div>
        <button type="submit" class="block w-full bg-green-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Add List</button>
      </form>
    </div>
  {% endif %}
</div>
</div>

  {% include "components/footer.html" %}
</body>
</html>