<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Todo App Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="h-screen flex">

  <div class="flex w-1/2 bg-gradient-to-tr from-red-800 to-purple-700 i justify-around items-center">
    <div>
      <h1 class="text-white font-bold text-4xl font-sans">MY APP</h1>
      <p class="text-white mt-1">63114540210 WANCHAROEN UPAMAI</p>
      <a href="/" class="block w-28 bg-white text-center text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2">Home</a>
    </div>
  </div>

  <div class="flex w-1/2 justify-center items-center bg-white">
    <form action="/login" method="post" class="bg-white">
      {% csrf_token %}
      <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello !</h1>
      <p class="text-sm font-normal text-gray-600 mb-7">Welcome Back</p>
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
        <input class="pl-2 outline-none border-none" type="text" name="username" id="username" placeholder="Username" />
      </div>
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
        <input class="pl-2 outline-none border-none" type="text" name="password" id="password" placeholder="******" />
      </div>
      <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Login</button>
    </form>
  </div>

</div>
</body>
</html>